# Include style diagnostics and checks for hidden command failures.
enable=check-extra-masked-returns,check-set-e-suppressed,check-unassigned-uppercase
enable=avoid-nullary-conditions,deprecate-which
